---
layout: page
permalink: /blog-posts
title: Blog
---


<div class="blog">  
  <div class="filter">
      <ul>
        <li><a href="/blog-shorttipps"> Shortipps</a></li>
        <li><a class="selected" href="/blog">Blogposts</a></li>
      </ul>
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tag == "post" %}
          <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} category: {{ post.tag}}</span>

          <h2>
            {{ post.title }}
          </h2>
          {% if post.description %}
            <p> {{ post.description }}</p>
          {% endif %}
          <a class="tile-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>