.blog {

	h1 {
		text-align: center;
		font-size: 1.5em;
	}

	li {
		position: relative;
	}

	.page-heading {	
		a {		
			text-decoration: none;
			color: $text-color;
		}
	}

	.filter {
		margin-bottom: 2em;


		ul {
			list-style-type: none;
			display: inline;
			margin: 0;
		}

		li {
			display: inline;
			margin-left: 1em;

			&:first-child {
				margin-left: 0;
			}

		}

		h3 {
			display: inline;
			font-size: 1em;
		}

		a {
			text-decoration: none;
			color: $filter-link-color;
			border: 1px solid $category-border-color;
			padding: 0.5em;
			border-radius: 1em;
		}

		.selected {
			color: $filter-selected-color;
			border-color: $filter-selected-color;
		}
	}

	.tile-link {
		text-indent: -999999999px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		overflow: hidden;
	}

}