.site-footer {

	position: sticky;
	width: 100%;
	bottom: 0;
	background-color: #E8E8E8;
	height: 90px;
	padding: 20px 0 0 0;

	.icon > svg {
		width: 25px;
		height: 25px;
	}

	.footer-col {
		text-align: center;

		@include grid-break($on-laptop) {
			float: left;
		}

	}

	.footer-col-3 {
		@include grid-break($on-laptop) {
			text-align: left;
		}
	}


	.social-media-list {
		height: 3em;
		width: 15.39em;
		display: block; 
		margin: 0 auto;

		@include grid-break($on-laptop) {
			margin: inherit;
			float: left;
		 	width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    		width: calc(30% - (#{$spacing-unit} / 2));
		}
	}

	.contact-list {

		@include grid-break($on-laptop) {
			text-align: left;
		}

	}

	
}