.home {
	text-align: center;

	h1 {
		margin-bottom: 2em;
	}

	p {
		text-align: left;
	}

	img {

		//TODO ADD COMPASS + MIXIN
		border-radius: 50%;
		margin-bottom: 2em;
	}

	// Use media queries like this:
	@include grid-break($grid-break) {
	    h3 {
	       max-width: 50%;
	       margin-left: 25%;
	    }
	}
}

.content-wrapper {
	min-height: calc(100vh - 120px);
}