.linked-area {
	border: 1px solid black;
	display: inline-block;
	padding: 1em;
	position: relative;

	img {
		display: block;
	}

	a {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		text-indent: -999999px;
		overflow: hidden;
		text-align: left;

	}
}